@use "./scss/utils/classes.scss" as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #e0dcd8;
  /* background-color: #fff; */
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3 {
  color: #4b312f;
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  margin-bottom: 2em;
}
